*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #2274A5;
    color: #ffffff;
}
.cabecalho{
    text-align: center;
    margin-top: 20px;

}

.cabecalho h1{
    margin-bottom: 0;
    text-shadow: 3px 0 5px #1B1725;
}

.cabecalho p{
    margin-top: 3px;
    font-size: 20px;
}

.menu-list{
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu-list li{
    padding-left: 80px;
}

.menu-list li p{
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
}

.logo-principal{
    width: 250px;
    border-radius: 0 10px 10px 0;
}

.imagem-principal{
    display: block;
    margin: 30px auto;
    width: 250px;
}
