body{
    background-color: #028090;
    color: #0C1618;
    font-family: Arial, Helvetica, sans-serif;
}

/*Configuração do Header */

.header{
    text-align: center;
    margin-bottom: 20px;
}

.img-profile{
    width: 200px;
    border-radius: 50%;
    margin-top: 10px;
    box-shadow: 0 0 25px #EFF2F1;
}

.header > h1{
    margin: 7px 0;
    color: #97D8C4;
}

.header h2{
    margin-top: 3px;
    margin-bottom: 0;
    font-size: 20px;
    color: #97D8C4;
}

h3{
    margin-top: 3px;
    margin-bottom: 10px;
    color:#97D8C4;
}

.social-list{
    width: 50%;
    margin: 0 auto;
}

.social-list ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.social-list li a img{
    width: 40px;
}

/*Fim da configuração do Header*/
/*Configuração do Content*/

.content{
    margin: 0 auto;
    text-align: justify;
    width:70%
}

.content h1, h2{
    color: #F4B942;
}

.exp-list{
    list-style: none;
}

.content ul li span:first-child{
    font-size: 20px;
    font-weight:bold
}

.content ul li span:last-child{
    display: block;
    font-size: 18px;
    font-weight: bold;
}

.list li{
    list-style: disc;
    margin: 10px 0;
}

.paragrafo strong{
    font-size: 18px;
}

.paragrafo span{
    display: block;
}

